div{
    width: 720px;
    height: 480px;
    border: 20px solid red;
    margin: 50px auto;
    background: url(images/a.jpg);
    background-size: cover;
   
}
div:hover{
    animation: stp 12s infinite;
    -webkit-animation: stp 12s infinite;
    -o-animation: stp 12s infinite;
    -moz-animation: stp 12s infinite;
}
@keyframes stp{
    0%{background-color: url(images/a.jpg);}
    25%{background-image: url(images/b.jpg);}
    50%{background-image: url(images/c.jpg);}
    75%{background-image: url(images/d.jpg);}
    100%{background-image: url(images/e.jpg);}
}
@-webkit-keyframes stp{
    0%{background-color: url(images/a.jpg);}
    25%{background-image: url(images/b.jpg);}
    50%{background-image: url(images/c.jpg);}
    75%{background-image: url(images/d.jpg);}
    100%{background-image: url(images/e.jpg);}
}
@-o-keyframes stp{
    0%{background-color: url(images/a.jpg);}
    25%{background-image: url(images/b.jpg);}
    50%{background-image: url(images/c.jpg);}
    75%{background-image: url(images/d.jpg);}
    100%{background-image: url(images/e.jpg);}
}
@-moz-keyframes stp{
    0%{background-color: url(images/a.jpg);}
    25%{background-image: url(images/b.jpg);}
    50%{background-image: url(images/c.jpg);}
    75%{background-image: url(images/d.jpg);}
    100%{background-image: url(images/e.jpg);}
}